/*** The container for all the credits at the bottom of the page ***/

footer {
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 2em;
    bottom: 0;
    text-align: center;
    padding-right: 4em;
}

/*** The clickable 'Credits' that brings the footer out ***/

#credit-marker {
    @extend .button-clickable; // Cursor should indicate that it can be clicked.
    position: absolute;
    z-index: 2;
    font-size: 1.2em;
    bottom: 0.5em;
}

/*** The offscreen part of the footer ***/

#credit-div {
    position: absolute;
    z-index: 9;
    background-color: white;
    width: 100%;
    height: 6em;
    bottom: -20em;
    transition: $transition-time;
}  