/*** The container for all the credits at the bottom of the page ***/

footer {
    z-index: 9; // Below overlay above everything else
    width: 60%;
    position: absolute;
    height: 2em;
    left: 10%;
    bottom: 0;
    text-align: center;
    padding-right: 4em;
}


/*** The clickable 'Credits' that brings the footer out ***/

.credit-marker {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 1.2em;
    bottom: 0.5em;
}


/*** The offscreen part of the footer ***/

.credit-div {
    position: absolute;
    z-index: 9;
    background-color: #ffc;
    width: 100%;
    bottom: -20em;
    transition: $transition-time;
    border: 0.1em solid #000;
    div {
        display: none;
    }
}


/*** Attributions in the credit div shouldn't be centered ***/

.attributions {
    text-align: left;
    font-size: 1.5em;
    margin: 0.75em 0;
    width: 100%
}


/*** Credit div should hug the bottom of the screen when it is on ***/

.credit-div.creditDivOn {
    bottom: 0;
    div {
        display: block;
    }
}

@media all and (max-width: 55em) {
    .hide-credit {
        display: none;
    }
}
