/*** We need to make sure the html and body has a height in order to 
    accomodate the Google Map ***/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; // Disallow scrolling to see offscreen elements on mobile.
    font-family: Georgia, Serif;
}

div,
li {
    box-sizing: border-box;
}


/*** Widely applied to divs that are taller than their container ***/

.scroll-div {
    overflow: auto;
}