/*** Thin border to mark end of list-div when it it open ***/

#list-div {
    border-left: 0.05em solid #d9d9d9;
}


/*** The div for the buttons for each theatre in the list div ***/

.button-list-flex {
    margin-left: 0.25em;
    display: flex;
    flex-direction: column;
    height: 90%;
    :hover {
        // hover over an element in this list
        background-color: #e6e6e6;
        border: 0.05em solid black;
    }
}


/*** Don't allow the children of button-list-flex to also generate borders when
hovering over any of them specifically. ***/

.button-list-flex h4:hover,
.button-list-flex p:hover,
.button-list-flex span:hover {
    border: none;
}


/*** Buttons for each theatre in the list div ***/

.button-list-item {
    @extend .button-clickable;
    margin: 0.2em 0; // Separate the buttons
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 4em;
    border-bottom: 0.05em solid black;
}


/*** Title of each theatre in the list div ***/

.list-title {
    font-size: 1.5em;
    @extend .text-center;
}

/*** Message to display when Google Maps API fails to load ***/

#map-error{
    @extend .error-style;
}