/*** The map needs to have a specific size in order to display. ***/

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1; // Map is behind everything else that appears.
}