/*** For large displays ***/

.left-divs {
    width: 50%;
}

.left-div-off {
    left: -50%;
}

/*** Take up less space with the divs that start offscreen. ***/

.right-divs {
    width: 30%;
}

.tab-on {
    right: 30%;
}

.right-div-off {
    right: -30%;
}

.left-div-off {
    left: -50%;
}