/*** How long offscreen elements take to move on and off ***/

$transition-time: 0.15s;

/*** Both left-divs and right-divs inherit this. The width is determined in 
media queries. ***/

.off-screen {
    position: absolute;
    z-index: 2; // Should always be over the map.
    transition: $transition-time;
    top: 0;
    background-color: white;
}


/*** The display div that pops out when a marker is accessed  ***/

.left-divs {
    @extend .off-screen;
    height: 30%;
    width: 50%;
}

/*** Position of left-div when it is off screen ***/

.left-div-off {
    left: -50%;
    visibility: hidden;
    div,
    li,
    ul {
        display: none;
    }
}

/*** The list, twitter and filter divs ***/

.right-divs {
    @extend .off-screen;
    height: 100%;
    width: 30%;
}

/*** Position of right divs when they are off screen ***/

.right-div-off {
    right: -30%;
    visibility: hidden;
    div,
    li,
    ul {
        display: none;
    }
}