/*** How long offscreen elements take to move on and off ***/

$transition-time: 0.15s;

/*** Both left-divs and right-divs inherit this. The width is determined in 
media queries. ***/

.off-screen {
    position: absolute;
    z-index: 2; // Should always be over the map.
    transition: $transition-time;
    top: 0;
    background-color: white;
}


/*** The display div that pops out when a marker is accessed  ***/

.left-divs {
    @extend .off-screen;
    height: 30%;
}

/*** This display div when it is extended to feature directions ***/

#display-div.direction-extention {
    height: 45%;
}

/*** The list, twitter and filter divs ***/

.right-divs {
    @extend .off-screen;
    height: 100%;
}
