/*** Cursor changes when hovering over button ***/

.button-clickable{
    cursor: pointer;
    cursor: hand;
}

/*** Style for all buttons ***/

.button-style {
    padding-top: 0.8em;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    border-radius: 0.6em;
}


/*** Inherited by button-50 and button-50-info in _off_info_win.scss ***/

.button-50-shared {
    width: 50%;
    @extend .button-style;
}


/*** Buttons at the top of right divs sorting. In flexbox. ***/

.button-50 {
    @extend .button-50-shared;
    height: 2.7em;
}


/*** Font sizes can be bumped up slight on larger screen ***/

@media only screen and (min-width: 55em) {
    .button-50 {
        font-size: 1.1em;
    }
}


/*** Animate buttons when hovering over them ***/

.button-hover {
    border: 0.2em solid black;
}


/*** Sort buttons at the top of list div styles ***/

.button-flex {
    display: flex;
    text-align: center;
    // This will be applied to all elements in .button-flex divs, but not 
    :hover {
        // to the actual .button-flex div.
        @extend .button-hover;
    }
}


/*** Applied to divs inside buttons so they don't draw additional borders ***/

.no-border:hover {
    border: none;
}

/*** Colour for all major buttons  ***/

.button-white {
    background: #f2f2f2;
    color: black;
    border: 0.1em solid black;
}

/*** Used for the uncheck all button in the filter div and in credit div dismiss ***/

.button-100 {
    @extend .button-style;
    width: 100%;
    padding-top: 0.8em;
    height: 2.7em;
    font-size: 1.3em; // Button is long enough so font can be large even on mobile
    font-weight: bold;
}
