/*** Color displayed when a filter button is pressed ***/

$buttonOnTint: #6f6;

/*** Div that holds filter options ***/

#filter-div {
    border-left: 0.05em solid #d9d9d9; // Delimiting border when div is open
}


/*** Container for all the filter buttons ***/

.button-filter-flex {
    margin-left: 0.25em;
    display: flex;
    flex-direction: column;
    height: 90%;
}


/*** On large screens ***/

@media only screen and (min-width: 55em) {
    /*** We can do a hover option, since it won't interfere with the .buttonOn 
        class like it does on mobile. ***/
    .button-filter-item:hover {
        background-color: #e6e6e6;
        border: 0.05em solid black;
    }
    /*** But we need to make hover conform with .buttonOn when both are present
        so that the hover doesn't confuse users whether an option is on or not. ***/
    .button-filter-item.buttonOn:hover {
        background-color: $buttonOnTint;
    }
}


/*** Each button in the filter div ***/

.button-filter-item {
    @extend .button-all;
    margin: 0.2em 0; // Separate the buttons
    min-height: 2em;
    border-bottom: 0.05em solid black;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.25em 0.5em;
}


/*** Applied when a button is toggled on in filter div. ***/

.buttonOn {
    background-color: $buttonOnTint;
    border: 0.05em solid black;
}
