@media only screen and (max-width: 76em) {
    /*** Take up more space with the divs that start offscreen. ***/
    .right-divs {
        width: 40%;
    }
    .left-divs {
        width: 50%;
    }
    .tab-on {
        right: 40%;
    }
    .right-div-off {
        right: -40%;
    }
}


/*** For small displays ***/

@media only screen and (max-width: 65em) {
    /*** Take up more space with the divs that start offscreen. ***/
    .right-divs {
        width: 50%;
    }
    .left-divs {
        width: 60%;
    }
    .tab-on {
        right: 50%;
    }
    .right-div-off {
        right: -50%;
    }
    .left-div-off {
        left: -60%;
    }
}


/*** For small displays ***/

@media only screen and (max-width: 55em) {
    /*** Take up more space with the divs that start offscreen. ***/
    .right-divs {
        width: 60%;
    }
    .tab-on {
        right: 60%;
    }
    .right-div-off {
        right: -60%;
    }
}


/*** For small displays ***/

@media only screen and (max-width: 45em) {
    /*** Take up more space with the divs that start offscreen. ***/
    .off-screen {
        width: 70%;
    }
    .tab-on {
        right: 70%;
    }
    .right-div-off {
        right: -70%;
    }
    .left-div-off {
        left: -70%;
    }
    .left-divs {
        height: 45%;
    }
}


/*** For small displays ***/

@media only screen and (max-width: 40em) {
    /*** Take up more space with the divs that start offscreen. ***/
    .off-screen {
        width: 90%;
    }
    .tab-on {
        right: 90%;
    }
    .right-div-off {
        right: -90%;
    }
    .left-div-off {
        left: -90%;
    }
}

/*** Short screens like landscape phones need more access to the display div ***/

@media all and (max-height: 26em) {
    .left-divs {
        height: 80%;
    }
}

