/*** Right div is on screen ***/

.right-div-on {
    right: 0%;
    /*** z-index needs to be higher than .tab-back otherwise those tabs are 
        clickable through the right-div ***/
    z-index: 6;
}

/*** Left div is on screen ***/

.left-div-on {
    left: 0%;
    z-index: 2; // Above the map but not above anything else.
}