/*** Helps ensure that the .button-50-infos can be displayed fully without
requiring a 2nd line for text. ***/

#opened-info-window{
    min-width: 16em;
}

/*** Title of each theatre in the Info Windows appearing on markers ***/

.info-title {
    font-weight: bold;
    font-size: 1.15em;
}

/*** Buttons at the bottom of InfoWindows. In flexbox. ***/

.button-50-info {
    @extend .button-clickable; // See _off_buttons.scss
    @extend .button-50-shared; // see _off_buttons.scss
    height: 2.9em;
}

/*** Fade out button when the left-div is already on ***/

#left-div-open-button.button-disabled{
    cursor: auto; 
    background: gray; 
    box-shadow: initial; 
    border: 0.15em solid black;
    color: black;
    &:hover{
        border: 0.15em solid black;
    }
}
