/*** This div appears under the twitter feeds and can be seen if the feeds fail
    to load. ***/

#twitter-error {
    @extend .error-style;
}


/*** Div that holds the list view for Twitter. ***/

#twitter-list {
    position: relative; // Makes z-index work so twitter error is hidden
    z-index: 2; // over twitter-error
    height: 90%; // Longer due to missing twitter account name
}


/*** Div that holds the user view for Twitter ***/

#twitter-account {
    position: relative; // Makes z-index work so twitter error is hidden
    z-index: 2; // over twitter-error
    height: 85%; // Shorter to accomodate twitter account name
}


/*** Title for user view ***/

#twitter-account-header {
    position: relative; // Makes z-index work so that twitter error is hidden
    z-index: 3;
    min-width: 100%;
    min-height: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    background: linear-gradient(orange, gold);
    box-shadow: 0.1em 0.1em 0.3em orange inset;
}

@media only screen and (max-width: 40em) {
    #twitter-error {
        font-size: 1.2em; // Avoid over flow on small screens
    }
}
