/*** This is the information in the left div that gets loaded from each marker 
***/

.current-display {
    margin: 0.5em;
}

/*** Title of the displayed theatre ***/

.display-title {
    font-size: 2em;
    margin: 0 0 0.25em 0.5em;
}

.display-link {
    color: maroon;
    &:hover {
        color: maroon;
    }
}

/*** The list enumerating the directions to get to the theatre ***/

.directions {
    list-style-type: decimal;
    margin-left: 1em;
}

/*** List items in the directions list ***/

.direction {
    line-height: 1.35em;
}


/*** This is the div enclosing .current-display. We make sure that we can scroll
through the current display and that the buttons stay at the bottom. If we made
the height of current display the same effect would not result. ***/

#display-box {
    overflow: auto;
    height: 80%;
}

/*** ***/

#display-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-of-div {
    float: bottom;
}