/*** This is the information in the left div that gets loaded from each marker 
***/

.current-display {
    margin: 0.5em;
}


/*** Title of the displayed theatre ***/

.display-title {
    font-size: 2em;
    margin: 0 0 0.25em 0.5em;
}

.display-link {
    color: maroon;
    &:hover {
        color: maroon;
    }
}


/*** The list enumerating the directions to get to the theatre ***/

.directions {
    list-style-type: decimal;
    margin-left: 1em;
}


/*** List items in the directions list ***/

.direction {
    line-height: 1.35em;
}


/*** This is the div enclosing .current-display. We make sure that we can scroll
through the current display and that the buttons stay at the bottom. If we made
the height of current display the same effect would not result. ***/

#display-box {
    overflow: auto;
    height: 80%;
}


/*** Used to move buttons to the bottom of the display div ***/

#display-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*** Make the address line not act like a button div ***/

#address-line {
    align-self: center;
    &:hover {
        border: none;
    }
}


/*** Make the address line 50% of its parent div. Done in this class instead of
in #address-line to increase readability of HTML ***/

.text-50 {
    width: 50%;
}


/*** This display div when it is extended to feature directions ***/

#display-div.direction-extention {
    height: 50%;
}

.space-above {
    margin-top: 1em;
}

.directions-options-button {
    @extend .button-style;
    @extend .button-white;
    font-size: 2.5em; 
    padding: 0 0.3em;
    margin-left: 0.4em;
    border: 1px solid black;
    border-radius: 0.1em;
}


/*** Narrow screens like portrait phones need more access to the display div. 
This prevents distance between buttons at the bottom of the div and the view ***/

@media all and (max-width: 45em) {
    #display-div.direction-extention {
        height: 70%;
    }
    #display-box {
        height: 86%;
    }
}


/*** Short screens like landscape phones need even more access to the display 
div. This prevents distance between buttons at the bottom of the div and the 
view  ***/

@media all and (max-height: 26em) {
    #display-div.direction-extention {
        height: 90%;
    }
}
